@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

ion-content {
  --background: black; /* This uses Ionic's CSS variable for background */
  color: white;        /* Ensures text is white */
}

ion-card {
  border-radius: 2%;
  background: linear-gradient(135deg, rgba(0, 123, 255, 0.3), rgba(255, 165, 0, 0.3));  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: white;   /* Change text color to white inside the card */
  font-size: 1.2rem;
}

ion-item {
  --background: transparent !important; /* Force ion-item background to be transparent */
  color: white;        
  margin-bottom: 60px;        /* Set text color to black */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optional: Add a subtle border for visibility */
}

ion-title{
  font-weight: 600;
}

ion-input{
  font-weight: 600;
}

ion-select{
  font-weight: 600;
}



ion-select, ion-input {
  --background: transparent !important; /* Ensure select and input have a transparent background */
  --color: white; /* Set text color to black */
  --placeholder-color: rgba(0, 0, 0, 0.5); /* Placeholder text color */
}





ion-header {
  border: 0.1px solid white;  /* Thin white line (border) around the toolbar */
 
  text-align: center;
  background-color: black; /* Make the ion-header background transparent */
  color: black;                  /* Set header text color to black */
}





p {
  color: white;  /* Ensure all <p> text is white for visibility */
  margin-left: 15px;
  font-weight: 600;
}


#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: white; /* Change strong text to white */
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c; /* Slightly dim the paragraph text */
  margin: 0;
}


ion-toolbar {
  --background: black;      /* This ensures the toolbar background is black */
  color: white; 
        /* Optional: to round the corners slightly */
      
}

#container a {
  text-decoration: none;
  color: white;  /* Ensure links are white as well */
}
